@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600&display=swap');

/* For all elements, making browser default margins and paddings 0. SO as they are common across all browsers */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Removing underlines from links */
a {
  text-decoration: none;
  color: lightslategray;
}

body {
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: white;
  max-width: 1600px;
   margin: 0 auto; /*0 margin for top,bottom and auto for left and right which means centered */
}

